# Folders
.git
.github
.nyc_output
.vscode
coverage
dist
node_modules
public
.yo-rc.json

# Files
.dockerignore
.env
.eslintignore
.eslintrc.js
.example.env
.gitignore
.mocharc.json
.nycrc
.prettierignore
.prettierrc
Dockerfile
README.md
sonar-project.properties
tsconfig.tsbuildinfo
