{
  "include": [
    "dist"
  ],
  "exclude": [
    "dist/__tests__/"
  ],
  "extension": [
    ".js",
    ".ts"
  ],
  "reporter": [
    "text",
    "html",
    "lcov"
  ],
  "exclude-after-remap": false
}
